  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
  </li>

  <li>
  <%= link_to('New Transaction', new_transaction_path) %>        
  </li>
  <%= current_user.account.balance %>